* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mainLogo {
    height: 70px;
    width: 140px;
    margin-left: 10px;
}

.main-title {
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.panel-informacion {
    color: white;
    font-weight: bold;
    text-align: center;
}

.tituloPanel {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    /* border: dashed 1px black; */
    border-radius: 9px;
    /* background-color: #3B413A; */
    color: white;
}

#panel-clima {
    background-color: #D8E9D8;
    margin-right: 10px;
    display: flex;
    font-size: x-small;
    font-weight: bold;
    padding: 2px;
    margin-right: 30px;
}   

.logoClima .logo {
    margin: 0;
    height: 60px;
    width: 60px;
}

#detalle-clima p {
    margin: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas:
    "informacion informacion informacion informacion"
    "visualizacion visualizacion visualizacion acciones"
}

.navbar {
    margin: 0;
}

.grid-container header {
    background-color: red;
    grid-area: informacion;
}   

.panel-visualizacion {
    background-color: rgb(120, 123, 126);
    grid-area: visualizacion;
    border: dashed 3px black;
    border-radius: 6px;
    padding: 5px;
    margin: 2px;
}

.tituloPanelVisualizacion {
    font-weight: bold;
    padding: 6px;
    color: white;
    /* background-color: rgb(77, 81, 85); */
    background-color: #758173;
    border-radius: 10px;
    text-align: center;
}

.panel-botones {
    background-color: grey;
    grid-area: botones;
}

.acciones-directas {
    display: flex;
    flex-direction: column;
}

.btnAcciones {
    padding: 3px;
    border-radius: 6px;
    background-color: #7a5e93;
    color: white;
    width: 100%;
    margin-bottom: 1px;
}

.botonVerEspacioAereo {
    display: flex;
}

.botonVerAvionesEnTierra {
    display: flex;
}

.botonAterrizarAvion {
    display: flex;
}

.logoBotones {
    height: 60px;
    width: 60px;
}

.panel-acciones {
    /* background-color: cyan; */
    background-color: #C5EFCB;
    grid-area: acciones;
    border: dotted 2px black;
    border-radius: 6px;
    padding: 5px;
    margin: 2px;
}

.recibirAeronave {
    color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.busquedaAerolinea {
    color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;  
}

.aeronave {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: rgb(150, 243, 207); */
    background-color: #A9C5A0;
    padding: 4px;
    border: 1px dotted black;
    border-radius: 15px;
    margin: 10px;
}

.elementoTarjeta {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: nowrap;
    flex-flow: column;
    height: auto;
}

#imagenTarjeta {
    margin-left: 10px;
    height: 60px;
    width: 120px;
    border-radius: 14px;
}

.elementoTarjetaDetalle {
    background-color: #C5EFCB;
    display: flex;
    flex-direction: column;
    width: 12%;
    margin-left: 10px;
    margin-right: 5px;
    border: dotted 1px black;
    align-items: center;
    
}

.elementoTarjetaDetalle h6 {
    background-color: #8DB181;
    width: 100%;
    border: solid 1px black;
    font-size: medium;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.botonAeronave {
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    background-color: #7a5e93;
    color: white;
    
}

.paneles {
    background-color: #586156;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.estadisticas {
    top: 50%;
    font-size: small;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border: dashed 1px black;
    background-color: rgb(206, 228, 206);
}

.estadistica {
    top: 50%;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}